.home-badges-1 {
    border: 1px solid #d3adf7;
    border-radius: 8px;
    padding: 2px 20px;
    background-color: #f9f0ff;
}
.home-badges-2 {
    border: 1px solid #87e8de;
    border-radius: 8px;
    padding: 2px 20px;
    background-color: #e6fffb;
}
.home-badges-3 {
    border: 1px solid #b7eb8f;
    border-radius: 8px;
    padding: 2px 20px;
    background-color: #f6ffed;
}