.home {
    min-height: 100dvh;
    background-color: #e8f3ee;
}
.home-card-header {
    font-weight: 500;
    color: #16a34a;
}
.smiles-delivered {
    background-color: #16a34a;
}
.smile-head {
    font-weight: 500;
    color: #16a34a;
}
@media (max-width: 768px) {
    .home-hidden {
        display: none;
    }
}
.image-home {
    min-width: 100% !important;
}

/* EXTRAS */
.sorted-heading {
    font-weight: 500;
    color: #7c7c7c;
}
.sorted-list {
    overflow-x: scroll;
}
.sorted-list::-webkit-scrollbar {
    height: 8px;
}
.sorted-list::-webkit-scrollbar-track {
    background-color: none; 
}
.sorted-list::-webkit-scrollbar-thumb {
    background-color: #dfdfdf; 
    border-radius: 10px;
}

.sorted-btn {
    background-color: #16a34a;
    border: 0;
    font-weight: 500;
}
.goto-dashboard {
    font-weight: 500;
    background-color: #16a34a;
    color: white;
    border: 0;
}
.confirmation-table {
    border: 0;
}
.hover-home {
    color: #16a34a;
}
.hover-home:hover {
    background-color: #16a34a;
    transition: 1s;
    color: white !important;
}
